<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class =>  "card glass p-10 w-96 m-auto"}) do |f| %>
  <h3 class="text-5xl"><strong>Register</strong></h3>
  <div class="field form-control w-full my-5">
    <label class="label">
      <%= f.label :email  %>
    </label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full flex my-2">
    <%= f.submit "Sign up", class: "btn w-40 m-auto"%>
  </div>
  <%= render "devise/shared/links" %>
<% end %>