<div  class="place-content-center w-full grid grid-cols-1 gap-4 md:grid-cols-3">

  <div class="col-start-1 hidden sm:block">
    <!-- Tags Panel -->
    <div class="card w-3/4 rounded-2xl border-2 border-gray-200 m-auto h-fit">
      <div class="p-3 font-mono">
        <span class="accent-gray-800 font-bold"> <%= heroicon "tag" %>Categories</span>
        <ul class="mt-2">

          <% 5.times do  %>
            <li class="border-b-gray-200 border-b last-of-type:border-b-0 py-2">
                <span class="flex pr-2 items-center">
                  <div class="ml-2 break-all">
                    <span class='badge badge-outline badge-primary'>Some Tag</span>
                  </div>
                </span>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>

  <%= turbo_stream_from "topics", class: "hidden"%>
  <%= turbo_frame_tag "topics", class: "col-span-2 grid gap-4 grid-cols-1 lg:grid-cols-2"  do %>
      <% @topics.each do |topic| %>
        <%= render "topics/topic", topic: topic %>
      <% end %>
      <%= render "topic_new" %>
  <% end %>
</div>

