<%= form_with(model: [@topic, @suggestion], url: topic_suggestions_path(@topic), method: :post) do |form| %>

  <div class="form-control">
    <label class="input-group">
      <span><%= form.label :title, class: "label-text" %></span>
      <%= form.text_field :title, class: "input input-bordered w-full " + class_names("input-error": suggestion.errors.full_messages_for(:title).any?) %>
    </label>

    <% suggestion.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-control">
    <label class="label">
      <span class="label-text"><%= form.label :body %></span>
    </label>
    <%= form.text_area :body, class: "textarea textarea-bordered h-24 " + class_names("input-error": suggestion.errors.full_messages_for(:body).any?)%>
    <label class="label">
      <span class="label-text-alt">Please keep it short and unpersonal</span>
    </label>

    <% suggestion.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
