<div class="card glass p-0 sm:p-10 m-auto">
  <div class="w-full grid md:grid-cols-[auto_25rem]">
    <article class="prose p-10 sm:p-0 ">
      <h1 class="!mb-0"><%= @suggestion.title %></h1>
      <kbd><%= User.find(@suggestion.author_id).profile.username %></kbd>

      <p><%= @suggestion.body %></p>
    </article>

    <div class="card rounded-none md:rounded-2xl md:border-2 border-gray-200 md:w-80 mt-5 md:m-auto md:mt-0 md:m-0 md:ml-auto h-fit">
      <img src="https://placeimg.com/400/226/arch" class="w-full md:h-44 sm:rounded-2xl md:rounded-none"/>

      <div class="p-3 font-mono">
        <span class="accent-gray-800 font-bold">Overview</span>
        <ul>
          <%
            user = User.find(@suggestion.author_id)
            profile = user.profile
            fields = {
            "Author": ["pencil", "<a class='hover:underline' href='".html_safe + profile_path(user) + "'><img class='w-8 -mt-2 inline' src='https://avatars.dicebear.com/api/personas/".html_safe + profile.avatar_seed + ".svg'/>".html_safe + profile.username + "</a>".html_safe],
            "Type": ["square-2-stack", "Suggestion"],
            "Topic": ["rectangle-group", "<a class='hover:underline' href='".html_safe + topic_path(@suggestion.topic) + "'>".html_safe + @suggestion.topic.title + "</a>".html_safe],
            "Tags": ["tag", "<span class='badge badge-outline badge-primary'>Tag1</span>".html_safe],
            "Arguments": ["rectangle-stack", rand(50)]
          } %>
          <% fields.each do |key, array| %>
            <li class="border-b-gray-200 border-b last-of-type:border-b-0 py-2 grid grid-cols-2">
                <span class="flex pr-2 items-center">
                  <%= heroicon array[0]%>
                  <div class="ml-2 break-all">
                    <%= key %>
                  </div>
                </span>
              <span class="items-center">
                <%= array[1] %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>



  <% if current_user and @suggestion.author_id == current_user.id %>
    <div class="m-5 md:m-0 mt-10 w-full">
      <%= link_to "Edit", edit_topic_suggestion_path(@suggestion.topic, @suggestion), class: "btn btn-primary" %>
      <%= link_to "Delete", topic_suggestion_path(@suggestion.topic, @suggestion), class: "btn btn-primary" , data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
    </div>
  <% end %>
</div>

<div class="p-0 pt-10 sm:p-10 grid grid-flow-row-dense gap-5 grid-cols-1 md:grid-cols-2">

  <div class="bg-green-50 rounded-lg p-4 ring ring-green-100 space-y-4">
      <h2 class="text-lime-800 fw-700 text-2xl font-bold mb-5">Pro</h2>
    <% 5.times do %>
      <div class="card bg-base-100 p-4 shadow-lg">
        <a href="#" class="text-primary font-semibold text-xl hover:underline">Investitionen in E-Autos</a>
          <div class="prose">
            Durch eine Staatliche Subventionierung sollen E-Autos gefördert werden, was zu weniger CO2-Emissionen führen soll.
          </div>
      </div>
    <% end %>
  </div>

  <div class="bg-red-50 rounded-lg p-4 ring ring-red-100 space-y-4">
    <h2 class="text-red-800 fw-700 text-2xl font-bold mb-5">Contra</h2>
    <% 4.times do %>
      <div class="card bg-base-100 p-4 shadow-lg">
        <a href="#" class="text-primary font-semibold text-xl hover:underline">Investitionen in E-Autos</a>
        <div class="prose">
          Durch eine Staatliche Subventionierung sollen E-Autos gefördert werden, was zu weniger CO2-Emissionen führen soll.
        </div>
      </div>
    <% end %>
  </div>
</div>

