<div class="navbar bg-base-100 drop-shadow-lg rounded-full relative z-50 mb-8">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li><%= link_to heroicon("home", variant: :mini) + "Home", root_url %></li>
        <li><a><%= heroicon "plus", variant: :mini%> Suggest Topic</a></li>
        <li><a><%= heroicon "information-circle", variant: :mini %> About</a></li>
      </ul>
    </div>

    <button class="btn btn-ghost btn-circle">
      <%= heroicon "tag" %>
    </button>
  </div>

  <div class="navbar-center hidden sm:block">
    <% puts request.fullpath %>
    <%= link_to ApplicationController::APPLICATION_TITLE, request.fullpath == "/" ? "#" : root_url, class: "btn btn-ghost normal-case text-xl font-bold" %>
  </div>
  <div class="navbar-end">
    <button class="btn btn-ghost btn-circle">
      <%= heroicon "magnifying-glass" %>
    </button>
    <button class="btn btn-ghost btn-circle">
      <div class="indicator">
        <%= heroicon "bell" %>
        <span class="badge badge-xs badge-primary indicator-item"></span>
      </div>
    </button>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <% if user_signed_in? %>
            <img src="https://avatars.dicebear.com/api/personas/<%= current_user.profile.avatar_seed %>.svg" />
          <% else %>
            <%= heroicon "user", options: {class: "h-10"} %>
          <% end %>
        </div>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
      <% if user_signed_in? %>
        <li class="menu-title">
          <span>Account</span>
        </li>
        <li><%= link_to "Profile", profile_path(current_user) %></li>
        <li><a>Settings</a></li>
        <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %></li>
      <% else %>
      <li class="menu-title">
        <span>Not logged in yet</span>
      </li>
        <li><%= link_to "Log in", new_user_session_path , data: { turbo_method: :create } %></li>
        <li><%= link_to "Register", new_user_registration_path , data: { turbo_method: :create } %></li>
      <% end %>
      <li class="menu-title">
        <span>Appearance</span>
      </li>
        <li>
            <label class="label cursor-pointer">
                <span class="label-text">🌙 Dark Mode</span>
                <input id="theme_toggle" type="checkbox" class="toggle toggle-md" data-toggle-theme="dark,light" />
            </label>
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
    window.onload = function() {
        if (document.documentElement.dataset.theme == 'dark') {
            document.getElementById("theme_toggle").setAttribute('checked', "");
        }
    }
</script>