<!DOCTYPE html>
<html>
  <head>
    <title>Polymo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_include_tags %>

    <%= javascript_include_tag "https://cdn.tailwindcss.com" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.5.7/src/index.min.js" %>
    <%= stylesheet_link_tag "https://unpkg.com/@tailwindcss/typography@0.1.2/dist/typography.min.css" %>

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/daisyui@3.1.0/dist/full.css" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js" %> <!--https://github.com/saadeghi/theme-change-->



    <%= javascript_pack_tag 'application' %>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        sans: ['Inter', 'sans-serif'],
                    },
                    colors: {
                        clifford: '#da373d',
                    }
                }
            },
            corePlugins: {
                preflight: false,
            }
        }
    </script>
  </head>

  <body class="max-w-7xl m-auto pt-2 sm:pt-4 p-4 sm:p-8">
    <%= render "layouts/alert"%>
    <%= render "layouts/navbar" %>
    <%= render "layouts/dialog" %>
    <%= yield %>

    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js" %>
  </body>
</html>
